.ct-header {
  width: 100%;
  min-height: 64px;
  font-family: Montserrat;
}

/* - link under - */

.ct-link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}

.ct-link-arrow:hover:after {
  right: -35px;
}

.ct-link-arrow.ct-link-arrow-white:after {
  background-size: 100% 100%;
}

.ct-link-arrow-hover:after {
  right: -35px;
}

.ct-link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.ct-link:active, .ct-link:focus, .ct-link:hover {
  outline: 0;
}

.ct-link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #555555;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}

.ct-link:hover {
  color: #555555;
}

.ct-link:hover:before {
  width: 100%;
}

.ct-link-theme:before {
  background: #f05e5e;
}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.ct-header {
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.ct-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.ct-header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
  color: #a3a2a2;
}

.ct-header li a:hover, .ct-header .ct-menu-btn:hover {
  background-color: #fff;
}

.ct-header .ct-logo {
  color: #f05e5e;
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
  margin: 12px 20px 12px 20px;
}

/* menu */

.ct-header .ct-menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.ct-header .ct-menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.ct-header .ct-menu-icon .ct-navicon {
  background: #555555;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.ct-header .ct-menu-icon .ct-navicon:before, .ct-header .ct-menu-icon .ct-navicon:after {
  background: #f05e5e;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.ct-header .ct-menu-icon .ct-navicon:before {
  top: 5px;
}

.ct-header .ct-menu-icon .ct-navicon:after {
  top: -5px;
}

/* menu btn */

.ct-header .ct-menu-btn {
  display: none;
}

.ct-header .ct-menu-btn:checked ~ .ct-menu {
  max-height: 240px;
}

.ct-header .ct-menu-btn:checked ~ .ct-menu-icon .ct-navicon {
  background: transparent;
}

.ct-header .ct-menu-btn:checked ~ .ct-menu-icon .ct-navicon:before {
  transform: rotate(-45deg);
}

.ct-header .ct-menu-btn:checked ~ .ct-menu-icon .ct-navicon:after {
  transform: rotate(45deg);
}

.ct-header .ct-menu-btn:checked ~ .ct-menu-icon:not(.steps) .ct-navicon:before, .ct-header .ct-menu-btn:checked ~ .ct-menu-icon:not(.steps) .ct-navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 875px) {
  .ct-header li {
    float: left;
  }
}

@media (min-width: 875px) {
  .ct-header li a {
    padding: 25px 0px 0px 0px;
    margin: auto 30px auto 0px;
    color: #a3a2a2;
  }
}

@media (min-width: 875px) {
  .ct-header .ct-menu {
    clear: none;
    float: right;
    max-height: none;
  }
}

@media (min-width: 875px) {
  .ct-header .ct-menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/* --------------------------------------------------
	:: Typography
	-------------------------------------------------- */

.text-normal p.space-bottom {
  margin: 0 0 20px 0;
}

.text-normal p.space-top {
  margin: 20px 0 0 0;
}

.text-normal p.no-space {
  margin: 0;
}

.heading p.space-bottom {
  margin: 0 0 10px 0;
}

.heading p.space-top {
  margin: 10px 0 0 0;
}

.heading p.no-space {
  margin: 0;
}

.text-normal, .text-normal p {
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans";
  color: #a3a2a2;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6 {
  font-weight: normal;
  font-style: normal;
  font-family: "PT Sans";
  color: #555555;
  margin: 0 0 10px 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.heading h1 {
  font-size: 24px;
}

.heading h2 {
  font-size: 22px;
}

.heading h3 {
  font-size: 20px;
}

.heading h4 {
  font-size: 18px;
}

.heading h5 {
  font-size: 16px;
}

.heading h6 {
  font-size: 14px;
}

.dropcap p {
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans";
  color: #a3a2a2;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.dropcap p:first-letter {
  font-size: 60px;
  color: #f05e5e;
  float: left;
  margin: 7px 10px 0 0;
  line-height: 1;
}

.blockquote p {
  font-weight: normal;
  font-style: italic;
  font-family: "Open Sans";
  color: #a3a2a2;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.blockquote blockquote {
  margin: 0;
  padding: 0 0 0 10px;
  border-left: 5px solid #f05e5e;
}

.highlight p {
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans";
  color: #a3a2a2;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.highlight.blue {
  padding: 2px 8px;
  background-color: #618da1;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.highlight.green {
  padding: 2px 8px;
  background-color: #f05e5e;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.highlight.red {
  padding: 2px 8px;
  background-color: #e0635b;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.highlight.orange {
  padding: 2px 8px;
  background-color: #de5f41;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.alignment p {
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans";
  color: #a3a2a2;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.enphasis p {
  font-weight: normal;
  font-style: normal;
  font-family: "Open Sans";
  color: #a3a2a2;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.enphasis p.text-muted {
  color: #a3a2a2;
}

.enphasis p.text-error {
  color: #e0635b;
}

.enphasis p.text-info {
  color: #618da1;
}

.enphasis p.text-success {
  color: #f05e5e;
}

.enphasis p.text-warning {
  color: #de5f41;
}

/* --------------------------------------------------
	:: Grid Columns
	-------------------------------------------------- */

.box {
  background-color: #eee;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-family: "Open Sans";
  color: #a3a2a2;
  font-size: 13px;
  margin: 10px 0;
  padding: 7px 0;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  width: 100%;
}

.grid-container .column-one, .grid-container .column-two, .grid-container .column-three, .grid-container .column-four, .grid-container .column-five, .grid-container .column-six, .grid-container .column-seven, .grid-container .column-eight, .grid-container .column-nine, .grid-container .column-ten, .grid-container .column-eleven, .grid-container .column-twelve {
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

.grid-container .column-one {
  width: 6.333%;
}

.grid-container .column-two {
  width: 14.666%;
}

.grid-container .column-three {
  width: 23%;
}

.grid-container .column-four {
  width: 31.333%;
}

.grid-container .column-five {
  width: 39.666%;
}

.grid-container .column-six {
  width: 48%;
}

.grid-container .column-seven {
  width: 56.333%;
}

.grid-container .column-eight {
  width: 64.666%;
}

.grid-container .column-nine {
  width: 73%;
}

.grid-container .column-ten {
  width: 81.333%;
}

.grid-container .column-eleven {
  width: 89.666%;
}

.grid-container .column-twelve {
  width: 98%;
}

/* --------------------------------------------------
	:: Tabs
	-------------------------------------------------- */

.flat-tabs-justify {
  position: relative;
  margin: 0;
  padding: 0;
}

.flat-tabs-justify input {
  position: absolute;
  display: none;
}

.flat-tabs-justify label {
  position: relative;
  background-color: #282d32;
  text-align: center;
  float: left;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans";
  font-size: 14px;
  color: #fff;
  margin: 0;
  width: 25%;
  padding: 15px 0;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flat-tabs-justify label i {
  margin-right: 10px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  vertical-align: baseline;
}

.flat-tabs-justify ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.flat-tabs-justify ul li {
  position: absolute;
  top: 0;
  left: 0;
  clear: both;
  width: 100%;
  overflow: auto;
  opacity: 0;
  list-style: none;
  background-color: #fff;
  padding: 30px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flat-tabs-justify .section-ten:checked ~ ul .section-ten, .flat-tabs-justify .section-eleven:checked ~ ul .section-eleven, .flat-tabs-justify .section-twelve:checked ~ ul .section-twelve, .flat-tabs-justify .section-thirteen:checked ~ ul .section-thirteen {
  position: relative;
  z-index: 10;
  opacity: 1;
}

/* --------------------------------------------------
	:: Animations Effects
	-------------------------------------------------- */

.tabs-zoom-in ul li {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-zoom-in .section-ten:checked ~ ul .section-ten, .tabs-zoom-in .section-eleven:checked ~ ul .section-eleven, .tabs-zoom-in .section-twelve:checked ~ ul .section-twelve, .tabs-zoom-in .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-zoom-out ul li {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-zoom-out .section-ten:checked ~ ul .section-ten, .tabs-zoom-out .section-eleven:checked ~ ul .section-eleven, .tabs-zoom-out .section-twelve:checked ~ ul .section-twelve, .tabs-zoom-out .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-flip ul li {
  -webkit-transform: rotatey(-90deg) scale(1);
  -moz-transform: rotatey(-90deg) scale(1);
  -o-transform: rotatey(-90deg) scale(1);
  -ms-transform: rotatey(-90deg) scale(1);
  transform: rotatey(-90deg) scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-flip .section-ten:checked ~ ul .section-ten, .tabs-flip .section-eleven:checked ~ ul .section-eleven, .tabs-flip .section-twelve:checked ~ ul .section-twelve, .tabs-flip .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: rotatey(0deg) scale(1);
  -moz-transform: rotatey(0deg) scale(1);
  -o-transform: rotatey(0deg) scale(1);
  -ms-transform: rotatey(0deg) scale(1);
  transform: rotatey(0deg) scale(1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-left ul li {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-left .section-ten:checked ~ ul .section-ten, .tabs-slide-left .section-eleven:checked ~ ul .section-eleven, .tabs-slide-left .section-twelve:checked ~ ul .section-twelve, .tabs-slide-left .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-right ul li {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-right .section-ten:checked ~ ul .section-ten, .tabs-slide-right .section-eleven:checked ~ ul .section-eleven, .tabs-slide-right .section-twelve:checked ~ ul .section-twelve, .tabs-slide-right .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-up ul li {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-up .section-ten:checked ~ ul .section-ten, .tabs-slide-up .section-eleven:checked ~ ul .section-eleven, .tabs-slide-up .section-twelve:checked ~ ul .section-twelve, .tabs-slide-up .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-down ul li {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-slide-down .section-ten:checked ~ ul .section-ten, .tabs-slide-down .section-eleven:checked ~ ul .section-eleven, .tabs-slide-down .section-twelve:checked ~ ul .section-twelve, .tabs-slide-down .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-fall ul li {
  -webkit-transform: translateY(50%) rotate(20deg);
  -moz-transform: translateY(50%) rotate(20deg);
  -o-transform: translateY(50%) rotate(20deg);
  transform: translateY(50%) rotate(20deg);
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-fall .section-ten:checked ~ ul .section-ten, .tabs-fall .section-eleven:checked ~ ul .section-eleven, .tabs-fall .section-twelve:checked ~ ul .section-twelve, .tabs-fall .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: translateY(0%) rotate(0deg);
  -moz-transform: translateY(0%) rotate(0deg);
  -o-transform: translateY(0%) rotate(0deg);
  transform: translateY(0%) rotate(0deg);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tabs-fade ul li {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.tabs-fade .section-ten:checked ~ ul .section-ten, .tabs-fade .section-eleven:checked ~ ul .section-eleven, .tabs-fade .section-twelve:checked ~ ul .section-twelve, .tabs-fade .section-thirteen:checked ~ ul .section-thirteen {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.tabs-rotate ul li {
  -webkit-transform: rotateX(-360deg);
  -moz-transform: rotateX(-360deg);
  -o-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.tabs-rotate .section-ten:checked ~ ul .section-ten, .tabs-rotate .section-eleven:checked ~ ul .section-eleven, .tabs-rotate .section-twelve:checked ~ ul .section-twelve, .tabs-rotate .section-thirteen:checked ~ ul .section-thirteen {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  transform: rotateX(360deg);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* --------------------------------------------------
	:: Theme Color Green 
	-------------------------------------------------- */

.flat-tabs-green input:checked + label {
  background-color: #f05e5e;
}

.flat-tabs-green ul li {
  border-top: 3px solid #f05e5e;
}

/* --------------------------------------------------
	:: Theme Color Blue 
	-------------------------------------------------- */

.flat-tabs-blue input:checked + label {
  background-color: #618da1;
}

.flat-tabs-blue ul li {
  border-top: 5px solid #618da1;
}

/* --------------------------------------------------
	:: Theme Color Red 
	-------------------------------------------------- */

.flat-tabs-red input:checked + label {
  background-color: #e0635b;
}

.flat-tabs-red ul li {
  border-top: 5px solid #e0635b;
}

/* --------------------------------------------------
	:: Theme Color Orange 
	-------------------------------------------------- */

.flat-tabs-orange input:checked + label {
  background-color: #de5f41;
}

.flat-tabs-orange ul li {
  border-top: 5px solid #de5f41;
}

/* --------------------------------------------------
	:: Note: Design for a width of 768px
	-------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .tab-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .flat-tabs-justify label {
    width: 100%;
    border-top: 1px solid #343e4d;
    border-bottom: 1px solid #1c2027;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .flat-tabs-green input:checked + label {
    border-top: 1px solid #f05e5e;
    border-bottom: 1px solid #f05e5e;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .flat-tabs-blue input:checked + label {
    border-top: 1px solid #618da1;
    border-bottom: 1px solid #618da1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .flat-tabs-red input:checked + label {
    border-top: 1px solid #e0635b;
    border-bottom: 1px solid #e0635b;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .flat-tabs-orange input:checked + label {
    border-top: 1px solid #de5f41;
    border-bottom: 1px solid #de5f41;
  }
}

/* --------------------------------------------------
	:: Note: Design for a width of 480px
	-------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .tab-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flat-tabs-justify label {
    width: 100%;
    border-top: 1px solid #343e4d;
    border-bottom: 1px solid #1c2027;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flat-tabs-green input:checked + label {
    border-top: 1px solid #f05e5e;
    border-bottom: 1px solid #f05e5e;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flat-tabs-blue input:checked + label {
    border-top: 1px solid #618da1;
    border-bottom: 1px solid #618da1;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flat-tabs-red input:checked + label {
    border-top: 1px solid #e0635b;
    border-bottom: 1px solid #e0635b;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .flat-tabs-orange input:checked + label {
    border-top: 1px solid #de5f41;
    border-bottom: 1px solid #de5f41;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .grid-container .column-one, .grid-container .column-two, .grid-container .column-three, .grid-container .column-four, .grid-container .column-five, .grid-container .column-six, .grid-container .column-seven, .grid-container .column-eight, .grid-container .column-nine, .grid-container .column-ten, .grid-container .column-eleven, .grid-container .column-twelve {
    width: 100%;
  }
}

/* --------------------------------------------------
	:: Note: Design for a width of 320px
	-------------------------------------------------- */

@media only screen and (max-width: 479px) {
  .tab-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 479px) {
  .flat-tabs-justify label {
    width: 100%;
    border-top: 1px solid #343e4d;
    border-bottom: 1px solid #1c2027;
  }
}

@media only screen and (max-width: 479px) {
  .flat-tabs-green input:checked + label {
    border-top: 1px solid #f05e5e;
    border-bottom: 1px solid #f05e5e;
  }
}

@media only screen and (max-width: 479px) {
  .flat-tabs-blue input:checked + label {
    border-top: 1px solid #618da1;
    border-bottom: 1px solid #618da1;
  }
}

@media only screen and (max-width: 479px) {
  .flat-tabs-red input:checked + label {
    border-top: 1px solid #e0635b;
    border-bottom: 1px solid #e0635b;
  }
}

@media only screen and (max-width: 479px) {
  .flat-tabs-orange input:checked + label {
    border-top: 1px solid #de5f41;
    border-bottom: 1px solid #de5f41;
  }
}

@media only screen and (max-width: 479px) {
  .grid-container .column-one, .grid-container .column-two, .grid-container .column-three, .grid-container .column-four, .grid-container .column-five, .grid-container .column-six, .grid-container .column-seven, .grid-container .column-eight, .grid-container .column-nine, .grid-container .column-ten, .grid-container .column-eleven, .grid-container .column-twelve {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

@media (min-width: 480px) {
  #ct-wrap {
    display: block;
    height: 342px;
    width: 300px;
    margin: 0px auto 0 auto;
    position: relative;
  }
}

@media (min-width: 480px) {
  #ct-slideshow {
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  #ct-slideshow ul {
    list-style-type: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}

@media (min-width: 480px) {
  #ct-slideshow ul li {
    width: 20%;
    height: 300px;
    float: left;
    position: relative;
  }
}

@media (min-width: 480px) {
  #ct-wrap label:not(.ct-arrows):not(.show-description-label) {
    position: absolute;
    left: 45%;
    top: 90%;
    display: table-cell;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  label.ct-arrows {
    display: none;
    opacity: 0.1;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    padding: 8px;
    margin-top: -7%;
    background: #555555;
  }
}

@media (min-width: 768px) {
  #ct-wrap {
    display: block;
    height: 433px;
    width: 380px;
    margin: 0px auto 0 auto;
    position: relative;
  }
}

@media (min-width: 768px) {
  #ct-slideshow {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  #ct-slideshow ul {
    list-style-type: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}

@media (min-width: 768px) {
  #ct-slideshow ul li {
    width: 20%;
    height: 380px;
    float: left;
    position: relative;
  }
}

@media (min-width: 768px) {
  #ct-wrap label:not(.ct-arrows):not(.show-description-label) {
    position: absolute;
    left: 45%;
    top: 90%;
    display: table-cell;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  label.ct-arrows {
    display: none;
    opacity: 0.1;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    padding: 8px;
    margin-top: -7%;
    background: #555555;
  }
}

@media (min-width: 960px) {
  #ct-wrap {
    display: block;
    height: 550px;
    width: 480px;
    margin: 0px auto 0 auto;
    position: relative;
  }
}

@media (min-width: 960px) {
  #ct-slideshow {
    overflow: hidden;
  }
}

@media (min-width: 960px) {
  #ct-slideshow ul {
    list-style-type: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}

@media (min-width: 960px) {
  #ct-slideshow ul li {
    width: 20%;
    height: 480px;
    float: left;
    position: relative;
  }
}

@media (min-width: 960px) {
  #ct-wrap label:not(.ct-arrows):not(.show-description-label) {
    position: absolute;
    left: 45%;
    top: 90%;
    display: table-cell;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
  }
}

@media (min-width: 960px) {
  label.ct-arrows {
    display: none;
    opacity: 0.1;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    padding: 16px;
    margin-top: -7%;
    background: #555555;
  }
}

#ct-slideshow ul li img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

#ct-wrap input[type=radio] {
  position: absolute;
  visibility: hidden;
}

#ct-wrap label:not(.ct-arrows):not(.show-description-label):hover {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

#ct-wrap input[type=radio]#ct-button1:checked ~ label[for=ct-button1] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#ct-wrap input[type=radio]#ct-button2:checked ~ label[for=ct-button2] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#ct-wrap input[type=radio]#ct-button3:checked ~ label[for=ct-button3] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#ct-wrap input[type=radio]#ct-button4:checked ~ label[for=ct-button4] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#ct-wrap input[type=radio]#ct-button5:checked ~ label[for=ct-button5] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#ct-wrap input[type=radio]#ct-button1:checked ~ #ct-slideshow ul {
  left: 0;
}

#ct-wrap input[type=radio]#ct-button2:checked ~ #ct-slideshow ul {
  left: -100%;
}

#ct-wrap input[type=radio]#ct-button3:checked ~ #ct-slideshow ul {
  left: -200%;
}

#ct-wrap input[type=radio]#ct-button4:checked ~ #ct-slideshow ul {
  left: -300%;
}

#ct-wrap input[type=radio]#ct-button5:checked ~ #ct-slideshow ul {
  left: -400%;
}

#ct-wrap label[for=ct-button1] {
  margin-left: -24%;
}

#ct-wrap label[for=ct-button2] {
  margin-left: -12%;
}

#ct-wrap label[for=ct-button3] {
  margin-left: 0;
}

#ct-wrap label[for=ct-button4] {
  margin-left: 12%;
}

#ct-wrap label[for=ct-button5] {
  margin-left: 24%;
}

label.ct-arrows:hover {
  background: #555555;
  opacity: 0.5;
}

input[type=radio]#ct-button1:checked ~ .ct-arrows#ct-arrow-2, input[type=radio]#ct-button2:checked ~ .ct-arrows#ct-arrow-3, input[type=radio]#ct-button3:checked ~ .ct-arrows#ct-arrow-4, input[type=radio]#ct-button4:checked ~ .ct-arrows#ct-arrow-5 {
  right: 0px;
  display: block;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#ct-button2:checked ~ .ct-arrows#ct-arrow-1, input[type=radio]#ct-button3:checked ~ .ct-arrows#ct-arrow-2, input[type=radio]#ct-button4:checked ~ .ct-arrows#ct-arrow-3, input[type=radio]#ct-button5:checked ~ .ct-arrows#ct-arrow-4 {
  display: block;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

input[type=radio]#ct-button2:checked ~ .ct-arrows#ct-arrow-1 {
  left: 24%;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#ct-button3:checked ~ .ct-arrows#ct-arrow-2 {
  left: 12%;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#ct-button4:checked ~ .ct-arrows#ct-arrow-3 {
  left: 0px;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#ct-button5:checked ~ .ct-arrows#ct-arrow-4 {
  left: -12%;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

#ct-thumbnail1, #ct-thumbnail2, #ct-thumbnail3, #ct-thumbnail4, #ct-thumbnail5 {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
